body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #228B22;
  color: white;
  text-align: center;
  padding: 1rem;
}
nav{
  background-color: #50C878;
  padding: 1rem;
  text-align: center;
}
nav a{
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.product {
  background-color: white;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.product img {
  max-width: 200px;
}
.product h2 {
  font-size: 1.5rem;
}
.product p {
  font-size: 1rem;
  color: #555;
}
.product button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.product button:hover {
  background-color: #218838;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
}
#fooldal,#kosar, #feltoltes{
  color: black;
  font-weight: 900;
}
#kapcsolat {
  color:black;
  font-weight: 900;
}
#termekek{
  color:black;
  font-weight: 900;
}
a {
  box-shadow: inset 0 0 0 0 green;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 green;
  color: white;
}
h3{
  color: black
}
#kosar {
  color: black;
  font-weight: 900;
}
.listacska{
  display: inline-block;
  text-align: left;
}
.eze{
  float: right;
}
.balra{
  float:left
}
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: black;
  color: black;
}
body.dark-mode .product{
  background-color: black;
  color: white;
}
.theme-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
}

#toggleButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#toggleButton:focus {
  outline: none;
}
.dc{
  color:white;
  box-shadow: none;
  margin: 0;
  padding: 0;
  transition: none
}
.dc:hover {
  box-shadow: none;
  color: white;
}



