body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #228B22;
  color: white;
  text-align: center;
  padding: 1rem;
}
nav {
  background-color: #50C878;
  padding: 1rem;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.product {
  background-color: white;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}
.product img {
  max-width: 200px;
}
.product h2 {
  font-size: 1.5rem;
}
.product p {
  font-size: 1rem;
  color: #555;
}
.product button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.product button:hover {
  background-color: #218838;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

#fooldal {
  color: black;
  font-weight: 900;
}

#kapcsolat {
  color:black;
  font-weight: 900;
}